<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public/css/LayoutAdmin.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("head", required: false)
</head>
<body>
    <section class="header">
        <div class="container-fluid">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="@Url.Action("Login","Home")">Admin</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active">@Html.ActionLink("Menu", "Menu", "Home")</li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("List", "LoaiSach") ">
                                Quản lý sách
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li> @Html.ActionLink("Loại sách", "List", "LoaiSach")</li>
                                <li>@Html.ActionLink("Sách", "List", "Sach")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("List", "LoaiSach") ">
                                Quản lý người dùng
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Nhân viên", "List", "NhanVien")</li>
                                <li>@Html.ActionLink("Khách hàng", "List", "KhachHang")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("List", "LoaiSach") ">
                                Khac
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Tác giả", "List", "TacGia")</li>
                                <li>@Html.ActionLink("Nhà xuất bản", "List", "NhaXuatBan")</li>
                                <li>@Html.ActionLink("Đơn hàng", "List", "Order")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("List", "LoaiSach") ">
                                Thống kê
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Doanh thu theo năm", "Year", "Statistic")</li>
                                <li>@Html.ActionLink("Sách bán chạy trong tháng", "Month", "Statistic")</li>
                            </ul>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Giỏ hàng", "List", "Cart")</li>
                        @if (Session["TenNhanVien"]!= null)
                        {
                            <li><a href="@Url.Action("Logout","Home")"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Login","Home")"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                        }

                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <section class="maincontent">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>

    @*<section class="footer bg-info" style="">
        <div class="container-fluid text-center bg-dark py-4 text-light ">
            Thiết kế bởi : Trần Huỳnh Thanh Trâm
        </div>
    </section>*@
<footer>
    <div class="container">
        <div class="jumbotron">
            <h2>Quản lý nhà sách</h2>
            <p>Trần Huỳnh Thanh Trâm &copy; 2022</p>
        </div>
    </div>
</footer>
    
    @RenderSection("scripts", false);
</body>
</html>



