@model QuanLyNhaSach.Models.KhachHang

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table align="center">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight: bolder">Tên khách hàng</div>
            @Html.TextBoxFor(m => m.TenKhachHang, "", new { @class = "form-control", @placeholder = "Tên khách hàng" })
            @ViewData["Loi1"]
        </div>
        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight: bolder">SĐT</div>
            @Html.TextBoxFor(m => m.SĐT, "", new { @class = "form-control", @placeholder = "SĐT" })
            @ViewData["Loi2"]
        </div>
        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight: bolder">Mật khẩu</div>
            @Html.PasswordFor(m => m.MatKhau, new { @class = "form-control", @placeholder = "Mật khẩu" })
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <a class="col-md-offset-1" href="@Url.Action("ResetPassword", "Home")">Đổi mật khẩu</a>
        <a class="col-md-offset-1" href="@Url.Action("Register", "Home")">Tạo tài khoản</a>
    }

</table>



