@model QuanLyNhaSach.Models.KhachHang

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đổi mật khẩu</h2>

<table align="center">
    @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight: bolder">Tên khách hàng</div>
            @Html.TextBoxFor(m => m.TenKhachHang, "", new { @class = "form-control", @placeholder = "Tên khách hàng" })
            @ViewData["Loi"]
        </div>

        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight: bolder">Mật khẩu mới</div>
            @Html.PasswordFor(m => m.MatKhau, new { @class = "form-control", @placeholder = "Mật khẩu" })
            @ViewData["Loi1"]
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    }

</table>