@model IEnumerable<QuanLyNhaSach.Models.TacGia>

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Danh sách tác giả</h2>

<p>
    @Html.ActionLink("Thêm mới tác giả", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã tác giả
        </th>
        <th>
            Tên tác giả
        </th>
        <th>
            Năm sinh
        </th>
        <th>
            Năm mất
        </th>
        <th>
            Quê quán
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaTacGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenTacGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamSinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamMat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QueQuan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaTacGia }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaTacGia })
        </td>
    </tr>
}

</table>

