@model IEnumerable<QuanLyNhaSach.Models.KhachHang>

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Danh sách khách hàng</h2>

<p>
    @Html.ActionLink("Thêm mới khách hàng", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã khách hàng
        </th>
        <th>
            Tên khách hàng
        </th>
        <th>
            Mật khẩu
        </th>
        <th>
            SĐT
        </th>
        <th>
            Email
        </th>
        <th>
            Địa chỉ
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaKhachHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenKhachHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatKhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SĐT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaKhachHang }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaKhachHang })
        </td>
    </tr>
}

</table>
