@model IEnumerable<QuanLyNhaSach.Models.ChiTietDonHang>

@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Chi tiết đơn hàng</h2>

@foreach (var m in ViewBag.Main)
{
    <h3>Số hóa đơn: @m.donHang.MaDH</h3>
    <h3>Tên khách hàng: @m.khachHang.TenKhachHang</h3>
}

<table class="table">

    <tr>
        <th>Số TT</th>
        <th>Tên sách</th>
        <th>Số lượng</th>
        <th>Đơn giá</th>
        <th>Thành tiền</th>
    </tr>
    @{
        double tongTien = 0;
        int i = 0;
    }
    @foreach (var item1 in ViewBag.Sub)
    {
        i++;
        tongTien += (Convert.ToDouble(item1.chiTietDonHang.SoLuong)) * (Convert.ToDouble(item1.chiTietDonHang.GiaTien));
        <tr>
            <td>@i</td>
            <td>@item1.sach.TenSach</td>
            <td>@item1.chiTietDonHang.SoLuong</td>
            <td>@String.Format("{0:0,##0}", item1.chiTietDonHang.GiaTien)</td>
            <td>@String.Format("{0:0,##0}", item1.thanhTien)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item1.chiTietDonHang.MaSach })
            </td>
        </tr>


    }
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Tổng tiền: </th>
        <th><text>@String.Format("{0:0,##0}", tongTien)</text></th>
    </tr>
    



</table>
